**Objetivo**: responder preguntas sobre los datos usando Pandas.

Estos ejercicios son la traducción del tutorial de Brandon Rhodes "Pandas from the ground up" https://github.com/brandon-rhodes/pycon-pandas-tutorial. Bajo licencia MIT.

Su tutorial también está disponible en video: https://www.youtube.com/watch?v=5JnMutdy6Fw

Lo primero es descargar los datasets. Baja estos archivos y copialos al directorio ``data``:
- [titles.csv.gz](https://doc-08-7o-docs.googleusercontent.com/docs/securesc/e6usg7cilu8dk4jroot4hkp0j2enilu3/8jos36qsvkruj11t1ftffg6mvlq675ho/1507212000000/08589481064704159121/08589481064704159121/0B5A0V_ZHbZvQVWdRZWFPQUN5MDg?h=18025113476888111704&e=download)
- [cast.csv.gz](https://doc-0c-7o-docs.googleusercontent.com/docs/securesc/e6usg7cilu8dk4jroot4hkp0j2enilu3/el9hksr4tc2q2rmkveqglt3q7aile4fk/1507212000000/08589481064704159121/08589481064704159121/0B5A0V_ZHbZvQX0ktVmJZczgwSWM?h=18025113476888111704&e=download)

Si tienes problemas para descargar los datos, prueba con [este link](https://drive.google.com/drive/folders/0B5A0V_ZHbZvQWlItNTJUVUQ0WFk?usp=sharing).

In [1]:
%matplotlib inline
import pandas as pd

In [81]:
del titles

In [2]:
titles = pd.read_csv('data/titles.csv.gz', compression='gzip')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2   The Spider and the Fly  1949
3                  Country  2000
4          The Golden Note  2017

In [3]:
cast = pd.read_csv('data/cast.csv.gz', compression='gzip')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### ¿Cuántas películas aparecen en el dataframe titles?

### ¿Cuáles son las dos películas más antiguas?

                     title  year
183064          Miss Jerry  1894
221680  The Startled Lover  1898

### ¿Cuántas películas se titulan "Hamlet"?

### ¿Cuántas películas se titulan "Blade Runner"?

### ¿Cuándo se creo la primera película "Hamlet"?

### Muestra todas las películas "Treasure Island" desde la más antigua a la más reciente.

### ¿Cuántas películas se hicieron en 1950?

### ¿Cuántas películas se hicieron en el año 1960?

### ¿Cuántas películas se hicieron desde 1950 hasta el 1959?

### ¿En qué años se lanzaron las películas "Batman"?

### ¿Cuántos roles hay en la película "Inception"?

### ¿Cuántos roles de la película "Inception"  están rankeados por un  valor "n"?

### Y cuántos roles tienen NO están rankeados por un valor "n"?

### Muestra los roles de la película "Blade Runner" según su importancia "n"-rank, ignorando roles sin un valor "n".

### Muestre el reparto completo de la película "Scarface" (1932) según el ranking "n".

### Ahora el reparto completo, pero la de la última versión de "Scarface".

### ¿Cuántos roles habían en la versión muda de Hamlet de 1921?

### ¿Cuántas actrices/actores han aparecido en las películas  "Hamlet" ?

### ¿Cuántas personas han interpretado el rol de Neo?

###  ¿Cuántas personas han interpretado el rol de  "Girl"?

###  ¿Cuántas personas han interpretado el rol de  "The Stranger"?

### ¿Cuántos roles ha interpretado "Tom Hanks" en toda su carrera?

### ¿y cuántos roles ha interpretado "Julianne Moore"?

### Liste los roles de soporte (con n=2) interpretados por Humphrey Bogart en los 1940s, ordenados por año.

### Liste los roles principales de Humphrey Bogart en los 1940s ordenados por año.

### ¿Cuántos roles habían disponible para actores (actor) en los 1950s?

### ¿Cuántos roles habían disponible para actrices (actress) en los 1950s?

### ¿Cuántos roles principales (n=1) han existido desde la exhibición de la primera película hasta 1980?

### ¿Cuántos roles no principales han existido desde la exhibición de la primera película hasta 1980?

### ¿Cuántos roles menores (tanto que no tenian ranking) han exisitido desde la primera película hasta 1980?