**Objetivo**: responder preguntas sobre los datos usando Pandas.

Estos ejercicios son la traducción del tutorial de Brandon Rhodes "Pandas from the ground up" https://github.com/brandon-rhodes/pycon-pandas-tutorial. Bajo licencia MIT.

Su tutorial también está disponible en video: https://www.youtube.com/watch?v=5JnMutdy6Fw

In [1]:
%matplotlib inline
import pandas as pd

In [3]:
titles = pd.read_csv('data/titles.csv.gz', compression='gzip')
titles.head()

                          title  year
0                 A Lélek órása  1923
1  Aizaugusa gravi viegli krist  1986
2                     Agliyorum  1988
3                         0_1_0  2008
4              97 fung lau mung  1994

In [4]:
cast = pd.read_csv('data/cast.csv.gz', compression='gzip')
cast.head()

,title,year,name,type,character,n
0,The Core,2003,Alejandro Abellan,actor,U.S.S. Soldier,NaN
1,Il momento di uccidere,1968,Remo De Angelis,actor,Dago,9
2,Across the Divide,1921,Thomas Delmar,actor,Dago,4
3,Revan,2012,Diego James,actor,Dago,NaN
4,Un homme marche dans la ville,1950,Fabien Loris,actor,Dago,12

### ¿Cuáles son los 10 nombres de película más comunes?

### ¿En qué año de la década de los 1930s se lanzaron más películas?

### Grafique el número de películas que se han lanzado por década.

### Grafique el número de películas "Hamlet" lanzados por década.

### Grafique el número de personajes en las películas "Hamlet" por década.

### ¿Cuáles son los nombres de los 11 personajes más comunes en la historia de las películas?

### ¿Cuáles son las 10 actrices que actúan con su nombre "Herself" en las historia de las películas?

### ¿Cuáles actores o actrices aparecieron en la mayor cantidad de películas en el año 1945?

In [ ]:
pd.

### Grafica los la importancia ("n") de los roles de Humphrey Bogart a través de la historia.

In [ ]:
# hint, usa .plot(x, y, kind='scatter')

### Grafica los la importancia ("n") de los roles que Sidney Poitier ha actuado a través de los años.

### ¿Cuántos roles principales (n=1) había disponible para actrices y actores en los 1950s?

### ¿Cuántos roles de soporte (n=2) había disponible para actores y actrices en los 1950s?